# Frameworks :
# ------------
# - [Android] temp directories
bin/
gen/
#libs/
*.zip


# IDE :
# -----
# - [Eclipse]
.settings/
.metadata/

# - [XCode]
*_.1
*.1
*.xcodeproj


# Generic files to ignore :
# -------------------------
# - Apple temp
.DS_Store


# Languages :
# -----------
# - [Java]
*.class

# - [Scala]
submission/
target/
lib_managed/
#project/
.cache

# - [Node.JS]
node_modules/

