# Frameworks :
# ------------
# - [Android] temp directories
bin/
gen/
#libs/
*.zip

# - [Angular 2]
jspm_packages
npm-debug.*
link-checker-results.txt
app/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp


# IDE :
# -----
# - [Eclipse]
.settings/
.metadata/
target/

# - [XCode]
*_.1
*.1
*.xcodeproj

# - [JetBrains]
.idea/
*.iml

# Generic files to ignore :
# -------------------------
# - Apple temp
.DS_Store


# Languages :
# -----------
# - [Java]
*.class

# - [Scala]
submission/
lib_managed/
#project/
.cache
.worksheet/

# - [Node.JS]
node_modules/

