body
{
	/*background-image: url("soleil.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top right; #30px 50px;*/
	
	/* */
	background: url("soleil.jpeg") fixed no-repeat top right,
		url("mur-gris.jpeg") fixed;
}